@font-face {
    font-family: 'Proxima Nova';
    src: url('subset-ProximaNova-Light.html') format('woff2'),
        url('subset-ProximaNova-Light-2.html') format('woff'),
        url('subset-ProximaNova-Light-3.html') format('truetype');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'Proxima Nova';
    src: url('subset-ProximaNova-Regular.woff2') format('woff2'),
        url('subset-ProximaNova-Regular.html') format('woff'),
        url('subset-ProximaNova-Regular-2.html') format('truetype');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Proxima Nova';
    src: url('subset-ProximaNova-Semibold.html') format('woff2'),
        url('subset-ProximaNova-Semibold-2.html') format('woff'),
        url('subset-ProximaNova-Semibold-3.html') format('truetype');
    font-weight: 600;
    font-style: normal;
}
@font-face {
    font-family: 'Proxima Nova';
    src: url('subset-ProximaNova-Bold.woff2') format('woff2'),
        url('subset-ProximaNova-Bold.html') format('woff'),
        url('subset-ProximaNova-Bold-2.html') format('truetype');
    font-weight: 700;
    font-style: normal;
}

